{% extends 'base.html' %}
{% block content %}
<br>
<br>
<br>
  <h2>Sign Up</h2>
  <form action="{{ url_for('thankyou') }}" method="get">
      <label for="firstnametag">First Name</label>
        <input type="text" id='firstnametag'name="firstname" placeholder="John">
        <label for="firstnametag">Last Name</label>
          <input type="text" id='lastnametag'name="lastname" placeholder="Doe">
          <br>
      <label for="emailtag">Email:</label>
      <input type="email" id= "emailtag"name="email" placeholder="email">
      <br>
      <label for="emailtag">Password:</label>
      <input type="password" id= "pwdtag"name="password" placeholder="password">
      <br>
      <label for="termstag">Do You Agree to Our Terms and Conditions</label>
      <input type="checkbox" id = 'termstag'name="terms" value="terms">
      <br>
      <input type="submit" value="submit">
  </form>
  <br>
  <p><strong>OR</strong></p>
  <br>
    <h2>Login</h2>
    <form action="index.html" method="get">
        <label for="emailtag">Email:</label>
        <input type="email" id= "emailtag"name="email" placeholder="email">
        <br>
        <label for="emailtag">Password:</label>
        <input type="password" id= "pwdtag"name="password" placeholder="password">
        <br>
        <input type="submit" value="submit">
    </form>
{% endblock %}
