{% extends "base.html" %}
{% block content %}
<br>
<br>
<br>
<br>
<div class="card" style="width: 18rem;">
  <img src="../static/lifestyle.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Lifestyle</h5>
    <p class="card-text">Everyday wear, perfect for casual setting.</p>
    <a href="lifestyle.html" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
<div class="card" style="width:18rem;">
  <img src="../static/sports.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Sports</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="sports.html" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
{% endblock %}
